html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #101010;
    color: #dddddd;
    margin: 0;
}
header div a:hover{
    color: tomato;
}
.page{
    display: flex;
}
main{
    width: 70%;
    padding: 20px;
    background-color: #202020;
    margin: auto;
}
.page-title{
    text-align: center;
    margin: 0;
    color: tomato;
    padding: 0;
}
.entrada{
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
}
.fecha{
    font-style: italic;
}
.sidebar{
    font-family: monospace;
    width: 15%;
    z-index: 2;
    background-color: #202020;
    margin: 0;
}
.sidebar ul li{
    list-style: none;
    padding: 3px;
}
